# Terraform state file (specially for this project - customize according to your needs)
state.tf

# Terraform dot files
.terraform
.terraform.d

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignored Terraform files
*gitignore*.tf

.terrascan

# Crash log files
crash.log
crash.*.log

# Ignore Mac .DS_Store files
.DS_Store

# Ignored vscode files
.vscode/
